main.container{
    grid-template-columns: repeat(4, 1fr);
}
main .frase{
    grid-column: 3/5;
}
main .titulo{
    grid-column: 1/3;
}
.titulo-propuesta{
    grid-column: span 4;
    font-size: 2em;
    margin: 1em 0;
    width: 100%;
    color: rgb(var(--blanco));
    background-color: rgb(var(--colorPrincipal));
}
.titulo-propuesta, .curso h4, .curso-boton, .section-texto span{
    font-family: "Oswald", serif;
    text-transform: uppercase;
}
.curso{
    background-color: #f0f0f0;
    border: 2px solid rgb(var(--blanco));
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    width: 75%;
    padding: 2em;
    justify-self: center;
    width: 100%;
}
.curso-titulo{
    font-size: 2em;
}
.curso-titulo span{
    font-weight: 400;
}
.curso h4{
    justify-self: center;
    /* Ajusta el tamaño del contenedor al contenido */
    /* width: fit-content;  */
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: .5em 2em;
    margin: 1em 0;
}
.curso-boton{
    background-color: transparent;
    padding: .5em 1em;
    font-size: 1.2em;
    margin-top: 1em;
}
.curso:hover{
    background-color: rgb(var(--blanco));
    border: 2px solid rgb(var(--colorPrincipal));
}
.curso:hover .boton{
    color: rgb(var(--blanco));
    background-color: rgb(var(--colorPrincipal));
    border: 2px solid rgb(var(--colorPrincipal));
}


section{
    position: relative;
}
section .frase{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    transform: rotate(-90deg) translateX(25%);
    justify-self: center;
}
.section-texto{
    text-align: left;
}
.section-texto > *{
    margin-bottom: 2em;
}
.section-texto ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    text-transform: uppercase;
}
.section-texto ul li i{
    margin-right: 1em;
}
.section-texto span{
    display: inline-flex;
    color: rgb(var(--negro));
    padding: .5em 1em;
    background-color: rgb(var(--colorPrincipal));
}

.section-imagen{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.section-imagen .fecha{
    display: flex;
    /* grid-template-columns: auto auto; */
    justify-self: end;
    /* border: 2px solid green; */
    /* justify-content: flex-end; */
    align-items: center;
    gap: 1em;
    margin: 2em 0;
}
.linea{
    width: 100px;
    height: 5px;
    background-color: rgb(var(--negro));
}









@media screen and (max-width:950px){
    main.container{
        grid-template-columns: repeat(2, 1fr);
    }
    /* main .frase{
        justify-self: center;
    } */
    main .titulo{
        grid-column: 1/2;
    }
    main .frase{
        grid-column: 2/3;
    } 
    .titulo-propuesta{
        grid-column: span 2;
    }

    main .frase i, main .frase p{
        font-size: .8em;
    }

    .curso{
        background-color: rgb(var(--blanco));
        border: 2px solid rgb(var(--colorPrincipal));
    }
    .curso-boton{
        color: rgb(var(--blanco));
        background-color: rgb(var(--colorPrincipal));
        border: 2px solid rgb(var(--colorPrincipal));
    }
    .curso-titulo{
        font-size: 1.5em;
    }
    .curso-descripcion{
        font-size: .8em;
    }


    section, section .frase{
        position: static;
    }
    section .frase{
        order: 3; 
        transform: rotate(0) translateX(0);
    }
    /* section .frase{
        text-wrap: nowrap;
        right: 100%;
    } */
    .section-texto ul{
        grid-template-columns: 1fr;
    }
    /* .section-texto{
        padding: 2em;
    } */



}